<%- include('../partials/header') %>
  <div>
    <h2>Patients</h2>
    <div class="row justify-content-center">      
      <div class="col-12 col-md-10 col-lg-8">
        
        <form action="/patients" method="GET" class="card card-sm">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <input type="text" name="search" class="form-control" placeholder="Enter text for searching" aria-label="Text input field">
            </div>
            <select name="select" class="custom-select" id="inputGroupSelect01">
              <option selected value="all">All</option>
              <option value="ssn">SSN</option>
              <option value="fullName">Full Name</option>
              <option value="city">City</option>
              <option value="age">Age</option>
              <option value="doctor">Doctor</option>
            </select>
          </div>
          </div>
        </form>
    </div>
    <table  class="table-info">
      <thead>
        <tr>
          <th class="th-add">
            <a href="/patients/create" class="btn-create">Add new patient</a>
          </th>
        </tr>
        <tr>
          <th scope="col">SSN</th>
          <th scope="col">Full Name</th>
          <th scope="col">Age</th>
          <th scope="col">Phone Number</th>
          <th scope="col">City</th>
          <th scope="col">Doctor</th>
          <th colspan="2" scope="col">Actions</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% patients.forEach(patient => { %>
        <tr>
          <td scope="row"><%= patient.ssn %></td>
          <td><%= patient.full_name %></td>
          <td><%= patient.age %></td>
          <td><%= patient.phone_number %></td>
          <td><%= patient.city %></td>
          <td><%= patient.doctor ? patient.doctor.full_name : 'N/A' %></td>
          <td>
            <a href="/patients/<%= patient._id %>" class="btn btn-warning">Edit</a>
          </td>
          <td>
            <button type="button" onclick="deletePatient(`<%= patient._id %>`)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
<%- include('../partials/footer') %>
