<%- include('../partials/header') %>
<% if (typeof error != 'undefined') { %>
<div class="alert alert-danger" role="alert">
  <%= error %>
</div>
<% } %>
<div class="create-form">
  <form action="/patients/<%= patient._id %>" method="POST">
    <div class="mb-3">
      <label for="ssn" class="form-label">SSN</label>
      <input type="text" class="form-control" id="ssn" name="ssn" value="<%= patient.ssn %>">
    </div>
    <div class="mb-3">
      <label for="full_name" class="form-label">Full Name</label>
      <input type="text" class="form-control" id="full_name" name="full_name" value="<%= patient.full_name %>">
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">Age</label>
      <input type="text" class="form-control" id="age" name="age" value="<%= patient.age %>">
    </div>
    <div class="mb-3">
      <label for="phone_number" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="phone_number" name="phone_number" value="<%= patient.phone_number %>">
    </div>
    <div class="mb-3">
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control" id="city" name="city" value="<%= patient.city %>">
    </div>
    <div class="mb-3">
      <select class="select-doctor form-control" name="doctor">
        <option></option>
        <% doctors.forEach(doctor => { %>
          <% if (doctor._id.equals(patient.doctor)) { %>
            <option selected value="<%= doctor._id %>"><%= doctor.full_name %></option>
          <% } else { %>
            <option value="<%= doctor._id %>"><%= doctor.full_name %></option>
          <% } %>
        <% }) %>
      </select>
    </div>
    <button type="submit" class="btn-submit">Update</button>
  </form>
</div>

<%- include('../partials/footer') %>
