<%- include('../partials/header') %>
<div>
  <h2>Prescriptions</h2>
  <table class="table-info">
    <thead>
      <tr>
        <th class="th-add">
          <a href="prescriptions/create" class="btn-create">
            Create new prescription</a>
        </th>
      </tr>
      <tr>
        <th scope="col">Drug</th>
        <th scope="col">Diagnose</th>
        <th scope="col">Date</th>
        <th scope="col">Patient</th>
        <th scope="col">Doctor</th>
        <th colspan="2" scope="col">Actions</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% prescriptions.forEach(prescription => { %>
      <tr>
        <td scope="row"><%= prescription.drug_name %></td>
        <td><%= prescription.diagnose %></td>
        <td><%= prescription.date %></td>
        <td>
          <%= prescription.patient ? prescription.patient.full_name : 'N/A' %>
        </td>
        <td>
          <%= prescription.doctor ? prescription.doctor.full_name : 'N/A' %>
        </td>
        <td>
          <a
            href="/prescriptions/<%= prescription._id %>"
            class="btn btn-warning"
            >Edit</a
          >
        </td>
        <td>
          <button
            type="button"
            onclick="deletePrescription(`<%= prescription._id %>`)"
            class="btn btn-danger"
          >
            Delete
          </button>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer') %>
