<%- include('../partials/header') %>
  <% if (typeof error != 'undefined') { %>
  <div class="alert alert-danger" role="alert"><%= error %></div>
  <% } %>
    <div class="create-form">
      <form action="/prescriptions/<%= prescription._id %> " method="POST">
        <div class="mb-3">
          <label for="drug_name" class="form-label">Drug Name</label>
          <input
            type="text"
            class="form-control"
            id="drug_name"
            name="drug_name"
            value="<%= prescription.drug_name%>"
          />
        </div>
        <div class="mb-3">
          <label for="diagnose" class="form-label">Diagnose</label>
          <input
            type="text"
            class="form-control"
            id="diagnose"
            name="diagnose"
            value="<%= prescription.diagnose%>"
          />
        </div>
        <div class="mb-3">
          <label for="date" class="form-label">Date</label>
          <input
            type="date"
            class="form-control"
            id="date"
            name="date"
            value="<%= prescription.date%>"
          />
        </div>
        <div class="mb-3">
            <select class="select-doctor form-control" name="doctor">
              <option></option>
              <% doctors.forEach(doctor => { %>
                <% if (doctor._id.equals(prescription.doctor)) { %>
                  <option selected value="<%= doctor._id %>"><%= doctor.full_name %></option>
                <% } else { %>
                  <option value="<%= doctor._id %>"><%= doctor.full_name %></option>
                <% } %>
              <% }) %>
            </select>
          </div>
          <div class="mb-3">
            <select class="select-patient form-control" name="patient">
              <option></option>
              <% patients.forEach(patient => { %>
                <% if (patient._id.equals(prescription.patient)) { %>
                  <option selected value="<%= patient._id %>"><%= patient.full_name %></option>
                <% } else { %>
                  <option value="<%= patient._id %>"><%= patient.full_name %></option>
                <% } %>
              <% }) %>
            </select>
          </div>
        <button type="submit" class="btn-submit">Update</button>
      </form>
    </div>
<%- include('../partials/footer') %>
