<%- include('../partials/header') %>
    <h2>Doctors</h2>
    <div class="row justify-content-center">      
      <div class="col-12 col-md-10 col-lg-8">
        <form action="/doctors" method="GET" class="card card-sm">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <input type="text" name="search" class="form-control" placeholder="Enter text for searching" aria-label="Text input field">
            </div>
            <select name="select" class="custom-select" id="inputGroupSelect01">
              <option selected value="all">All</option>
              <option value="city">City</option>
              <option value="doctorName">Doctor Name</option>
              <option value="specialization">Specialization</option>
            </select>
          </div>
          </div>
        </form>
    </div>
    <table class="table-info">      
      <thead>
        <tr>
          <th class="th-add">
            <a href="/doctors/create" class="btn-create">Add new doctor</a>
          </th>
        </tr>
        <tr>
          <th scope="col">License No.</th>
          <th scope="col">Name</th>
          <th scope="col">Specialization</th>
          <th scope="col">City</th>
          <th colspan="3" scope="col">Actions</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% doctors.forEach(doctor => { %>
        <tr>
          <td scope="row"><%= doctor.licence_number %></td>
          <td><%= doctor.full_name %></td>
          <td><%= doctor.specialization %></td>
          <td><%= doctor.city %></td>
          <td>
            <a href="/doctors/<%= doctor._id %>" class="btn btn-warning">Edit</a>
            </td>
          <td>
            <button type="button" onclick="deleteDoctor(`<%= doctor._id %>`)" class="btn btn-danger">Delete</button>
          </td>
          <td>
            <a href="/doctors/<%= doctor._id %>/patients" class="btn btn-secondary">Patients</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
<%- include('../partials/footer') %>